<div class="bg-background h-screen">
  <%= render CustomerView, "header.html", assigns %>

  <div class="container mx-auto">
    <%= live_redirect "Fazer um agendamento", to: Routes.customer_appointments_new_path(@socket, :new) %>
  </div>
</div>
